.Square {
  background: white;
  border: 2px solid black;
  float: left;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  aspect-ratio: 1/1;
  width: 9rem;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.Square:focus {
  outline: none;
}
