.Square {
  background: white;
  border: 2px solid black;
  float: left;
  line-height: 25vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25vw;
  font-size: 40px;
  font-weight: bold;
  height: 25vw;
}

.Square:focus {
  outline: none;
}

@media (min-width: 700px) {
  .Square {
    aspect-ratio: 1/1;
    height: 9rem;
    font-size: 4rem;
    width: unset;
    line-height: unset;
    cursor: pointer;
  }
}
