.game-info {
  font-size: 2rem;
  font-weight: bold;
  height: 5rem;
}

.game-mode-label {
  font-size: 1rem;
  font-weight: unset;
}

.turn {
  text-align: center;
  height: 5rem;
  line-height: 2.5;
  display: inline-block;
  vertical-align: middle;
}
